<template>
    <div>
      <p>wangjingxue</p>

    </div>
</template>

<script>
    export default {
       data(){
           return{
              //
           }
       },
        methods:{
           //
        },
        created() {
           //
        }
    }
</script>

<style scoped>

</style>
