<template>
    <div class="box">
        <div>头部</div>
        <div>

            main

        </div>
        <div>尾部</div>
    </div>
</template>


<style>

    div.box {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 100vh;

    }

    .box > div:nth-child(1) {
        height: 30px;
        background-color: #2c3e50;
        color: aliceblue;
        text-align: center;
    }

    .box > div:nth-child(2) {
        transform: translateY(-50%);
        flex: 1;
    }

    .box > div:nth-child(3) {
        height: 30px;
        background-color: #2c3e50;
        color: aliceblue;


    }
</style>

<script>
    export default {
        data() {
            return {
                //返回的数据
            }
        },
        created() {
            //钩子函数使用的方法
        },
        methods: {
            //使用的方法
        }
    }

</script>
