<template>
    <div class="employeelistMain">
        <el-table
                :data="tableData"
                border
                style="width: 100%">
            <el-table-column
                    fixed
                    prop="username"
                    label="姓名"
            >
            </el-table-column>
            <el-table-column
                    prop="sex"
                    label="性别"
            >
            </el-table-column>
            <el-table-column
                    prop="birth"
                    label="出生日期"
            >
            </el-table-column>
            <el-table-column
                    prop="tell"
                    label="联系方式"
            >
            </el-table-column>
            <el-table-column
                    prop="mail"
                    label="邮箱"
            >
            </el-table-column>

            <el-table-column
                    fixed="right"
                    label="操作"
            >
                <template slot-scope="scope">
                    <el-button @click="handleClick(scope.row)" type="text" size="small">查看</el-button>
                    <el-button type="text" size="small">编辑</el-button>
                </template>
            </el-table-column>
        </el-table>
    </div>
</template>

<script>
    export default {
        methods: {
            handleClick(row) {
                window.console.log(row);
            },
            async SavEmployeelist() {
                try {
                    const data = await this.$axios.get("v2/savemployeelist")
                    this.tableData = data.data

                } catch (e) {
                    this.$message({
                        type: "warning",
                        message: e
                    })
                }
            }
        },
        created() {
            this.SavEmployeelist()
        },

        data() {
            return {
                tableData: []
            }
        }
    }
</script>

<style scoped>
    .employeelistMain {
        width: 100%;
        height: 100%;
        font-size: 10px;
    }
</style>