<template>
    <div class="employee">

        <div class="employeeHeader">
            员工表
        </div>
        <div class="employeeMain">
            <div class="employeeloser">
                <div>姓名</div>
                <el-input v-model="employee.username" size="medium"></el-input>
            </div>
            <div class="employeeloser">
                <div>性别</div>
                <el-input v-model="employee.sex" size="medium"></el-input>
            </div>
            <div class="employeeloser">
                <div>出生日期</div>
                <el-input v-model="employee.birth" size="medium"></el-input>
            </div>
            <div class="employeeloser">
                <div>联系方式</div>
                <el-input v-model="employee.tell" size="medium"></el-input>
            </div>
            <div class="employeeloser">
            <div>邮箱</div>
            <el-input v-model="employee.mail" size="medium"></el-input>
        </div>
            <div class="employeeloser">
                <div></div>
                <el-button @click="SavEmployees" style="margin-top: 2rem; margin-left: 2.5rem;width: 80% " size="medium">提交</el-button>
            </div>
        </div>

    </div>
</template>

<script>
    export default {
        data() {
            return {
                employee: {},
            }
        },
        methods: {
            async SavEmployees() {
                try {
                    window.console.log(this.employee)
                    const data = await this.$axios.post("v2/savemployee", this.employee)
                    window.console.log(data.data)
                    this.$message({
                        type:"success",
                        message:"添加"+data.data.username+"成功！"
                    })
                }catch (e) {
                    this.$message({
                        type:"warning",
                        message:e
                    })
                }
            }
        }
    }
</script>

<style scoped>

    .employee {
        width: 30rem;
        height: 100%;
        margin: 0 auto;
        background-color: #f3f3f3;
        display: flex;
        flex-direction: column;
    }

    .employeeHeader {
        height: 3rem;
        width: 100%;
        padding: 1rem 1rem 0 1rem;
    }

    .employeeMain {
        flex: 1;
        width: 100%;
    }

    .employeeMain div {
        padding: 1rem 1rem 0 1rem;
        font-size: 13px;
    }
</style>