<template>
    <div class="loginMain">
        <div class="loginHeader">
            <img src="../../assets/touxiang.jpg">
        </div>
        <div class="loginBody">
            <div class="bodyInput">
                <el-input
                        @keyup.enter="loginForms"
                        v-model="loginForm.username"
                        type="password" size="mini"
                        style="width: 100%;margin-top: .1rem">
                </el-input>
            </div>
            <div class="bodyBtn">
                <el-button
                        @click="loginForms"
                        size="mini"
                        style="width: 100%;margin-top: 1rem">
                    登陆
                </el-button>
            </div>
            <div class="bodyBtn">
                <el-button
                        size="mini"
                        style="width: 100%;margin-top: .5rem">
                    注册
                </el-button>
            </div>

        </div>


    </div>
</template>


<script>
    export default {
        data() {
            return {
                loginForm: {},
            }
        },
        methods: {
            async loginForms() {
                try {
                    const data = await this.$axios.post("v2/login", this.loginForm)
                    window.console.log(data.data)
                    if (data.status == 200) {
                        this.$message({
                            type: "success",
                            message: "登陆成功"
                        })
                    }else {
                        this.$message({
                            type:"warning",
                            message:"It's still under construction"
                        })
                    }
                } catch (e) {
                    this.$message({
                        type: "warning",
                        message: e
                    })
                }
            }
        }
    }
</script>


<style scoped>
    .loginMain {
        width: 20rem;
        background-color: whitesmoke;
        height: 21rem;
        margin: 10rem auto;
        display: flex;
        flex-direction: column;
    }

    .loginHeader {
        height: 12rem;
        background-color: whitesmoke;
        display: flex;
    }

    .loginHeader img {
        width: 5rem;
        height: 5rem;
        margin: 2.5rem auto;
        border-radius: 50%;
        box-shadow: #8c939d 0 0 5px 1px;
    }

    .loginBody {
        width: 10rem;
        height: 100%;
        margin: 0 auto;
    }

    .bodyInput {
        top: 0;
    }


</style>
