<template>
    <div class="mainBoys">
        <div class="mainHeader">
            <div class="mainHeaderLogo">考勤管理系统[练习项目]</div>
            <div class="mainHeaderUser">用户名</div>
        </div>
        <div class="mainBody">

            <div class="mainBodyContent">
                <div class="mainBodyContentNav">Nav</div>
                <div class="mainBodyContentMain">
                    <router-view></router-view>
                </div>
            </div>

            <div class="mainBodyFooter">Footer</div>
        </div>
    </div>
</template>

<script>
    export default {}
</script>

<style>
    body {
        background-color: #f3f3f3;
    }

    .mainBoys {
        height: 100vh;
        width: 60rem;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        background-color: white;
        box-shadow: #c8c9cc 0 0 10px 1px;
    }

    .mainHeader {
        z-index: 9;
        background-color: #f2f2f2;
        height: 3rem;
        box-shadow: #bbbbbb 0 1px 3px 0;
        display: flex;
        justify-content: space-between;

    }

    .mainHeaderLogo {
        padding: .8rem;
        cursor: auto;
    }

    .mainHeaderUser {
        padding: .8rem;
        color: #bbbbbb;
    }

    .mainBody {
        flex: 1;
        background-color: #f9f9f9;
        display: flex;
        flex-direction: column;

    }

    .mainBodyContent{
        display: flex;
        justify-content:space-between;
        flex: 1;

    }
    .mainBodyContentNav{
        background-color: #cccccc;
        width: 15rem
    }
    .mainBodyContentMain{
        background-color: #e9e9e9;
        flex: 1;
    }

    .mainBodyFooter{
       height: 2rem;
        background-color: #bbbbbb;
    }




</style>