<template>
    <div class="timeNowClass">
        <h5>{{timeOfNew}}</h5>
    </div>
</template>

<script>
    export default {
        data(){
            return{
                timeOfNew:'',
            }
        },
        created() {
           this.get()
        },
        methods:{
            get() {
                var nowTime = new Date();
                var year = nowTime.getFullYear();
                var month = nowTime.getMonth();
                var day = nowTime.getDay();
                this.timeOfNew = year + "-" + month + "-" + day
            },
        }
    }
</script>

<style scoped>
    .timeNowClass {
        width: 80%;
        height: 1.5rem;
        margin: 0 auto;
        line-height: 1.5rem;
        position: absolute;

    }
</style>
