<template>
    <div class="appd">
		<div class="allOfMainClass">
			<div>
				<myfooters></myfooters>
			</div>
			<div>
				<contents></contents>
			</div>
			<div>
				<footers></footers>
			</div>
			<hr>


		</div>
	</div>
</template>
<script>

    import content from "../content/Content";
    import footer from "../footer/footer";
    import myfooter from "./Myfooter";

    export default {
        components: {
            contents: content,
            footers: footer,
            myfooters: myfooter,
        },
        data() {
            return {
                databaw: '',
            }
        },
        methods: {

        }
    }
</script>

<style scoped>
	.appd {
		height: 100%;
		width: 100%;
		background: #F7F7F7;
		position: absolute;
		box-sizing: border-box;




	}
    .allOfMainClass {
		box-sizing: border-box;
		width: 60rem;
		height: 100%;
		margin: 0 auto;
		top: 0;
		position:fixed;
		left: 50%;
		transform: translateX(-50%);


	}

</style>
