<template>
    <div>
        <div class="myfooter">
            <div class="myfooterLeft"><h3>{{headerData}}</h3></div>

            <div class="myfooterRight"> {{headerTime}}</div>
        </div>
    </div>
</template>

<script>
    export default {
        name: "Myfooter",
        data() {
            return {
                headerData: 'JXde云笔记',
                headerTime: '',
            }
        },
        created() {

        },
        methods: {


        }

    }
</script>

<style scoped>
    .myfooter {
        line-height: 3.5rem;
        width: 90%;
        height: 3.5rem;
        margin: 1.5rem auto;
        box-shadow: #909399 0 0 1rem 1px;
        border-radius: .5rem;

        background-color: #99CCCC;


    }

    .myfooterLeft {
        float: left;
        height: 100%;
        width: 10rem;
        margin-left: 2rem;
        color: #FFFFFF;
    }

    .myfooterRight {
        float: right;
        height: 100%;
        width: 7rem;
        margin-right: 2rem;
        color: #FFFFFF;
    }

</style>
