Page {
  background-color: #eeeeee;
}

image {
  transform: translateX(-50%);
  width: 50px;
  height: 50px;
  left: 50%;
  bottom: 200px;
  position: fixed;
}

button {
  transform: translateX(-50%);
  left: 50%;
  bottom: 100px;
  position: fixed;
}