<template>
    <div>
        <div class="mainBoy">
            <div class="mainBoy_main">
                <div class="touThor">
                    <div class="thorid" @click="goToLogin">
                        <img src="@/assets/2020tou.jpeg" alt="">
                    </div>
                </div>
                <div class="input_psword">
                    <input @keyup.enter="goToLogin" v-model="psworlds" type="password">
                </div>
            </div>
        </div>

    </div>
</template>

<script>
    import Qs from 'qs'

    export default {
        data() {
            return {
                psworlds: '',
            }
        },
        methods: {
            //登录操作函数goToLogin()
            async goToLogin() {
                try {
                    const mydata = {
                        "form": this.psworlds
                    }
                    const result = await this.$axios.post("login", Qs.stringify(mydata))
                    localStorage.setItem("JWToken", result.data);//设置秘钥到JWT中
                    this.$message({
                        message: "登陆成功",
                        type: "success",
                    })
                    this.$router.push({path: '/main'})//进行相关路由的跳转
                } catch (err) {//localStorage.clear()
                    this.$message({
                        message: err,
                    })
                }
            }
        }
    }
</script>

<style scoped>
    .mainBoy {
        box-sizing: border-box;
        background: #8c939d;
        height: 100vh;
        width: 100%;
        position: relative;

    }

    .mainBoy_main {
        text-align: center;
        width: 20rem;
        height: 25rem;
        position: absolute;
        top: 15%;
        left: 50%;
        transform: translateX(-50%);

    }

    .thorid img {
        border-radius: 50%;
        width: 30%;
        margin-top: 5rem;
        margin-bottom: 1rem;
        box-shadow: #f9a7a7 0 0 30px 2px;
    }


    input {
        align-content: center;
        height: 1.5rem;
        border-radius: 3px;
        outline-style: none;
        border: 1px solid #ccc;
        width: 6.5rem;
        box-sizing: border-box;
    }

    .thorid img:hover {
        border-radius: 30%;
        margin-top: 5rem;
        margin-bottom: 1rem;
    }


</style>
