<view wx:for="{{list}}" wx:key="index" class="box-order all-shadow">
	<view class="one box-pardding">
		<view style="line;color:#CC9999" class="one-color-font light">
			订单号 : {{item.orderid}}
		</view>
		<view style="color:green;" class="one-color-font right">
			待领取
		</view>
	</view>
	<view class="box-hr "></view>
	<view class="two box-pardding">
		<view>
			<image src="{{item.iconsrc}}"></image>
		</view>
		<view>
			<view>快递昵称:{{item.taobaoname}}</view>
			<view style="word-break: break-word;">
				{{item.goodsname}}
			</view>
		</view>

	</view>
	<view class="box-hr"></view>
	<view style="color:#aaaaaa" class="three box-pardding">
		<view class="light">电话:<text style="color:red;">{{item.phone}}</text></view>
		<view class="right">数量：{{item.number}}
		</view>

	</view>
	<view class="box-hr"></view>
	<view class="four-box">
		<view class="four right">
			<view style="height:20px;line-height:20px;font-size:small">
				上传时间 : {{item.createdata}}
			</view>
			<view style="height:20px;line-height:20px;font-size:small">
				接收地点 : {{item.location}}
			</view>
			<view style="height:20px;line-height:20px;font-size:small">
				领取地点备注 : {{item.remark}}
			</view>
		</view>
		<button bindtap="reception" data-id="{{item._id}}" class="buttonfour" size="mini">已送达</button>
	</view>

</view>