<template>
    <div>
        <div class="contents">

            <div class="contentNav">
                <div class="contentNavThor">
                <thoros></thoros>
                </div>
                <div class="contentNavNav">
                    <el-button @click="jwtoken">点击请求后台的JWToken进行验证</el-button>
                </div>
            </div>

            <div class="contentMain">
                <div class="contentMainTip">
                    小结
                </div>
                <div class="contentMainTip">
                    小结
                </div>
                <div class="contentMainTip">
                    小结
                </div>
                <div class="contentMainTip">
                    小结
                </div>
                <div class="contentMainTip">
                    小结
                </div>
            </div>
        </div>

    </div>
</template>

<script>

    import thoro from "./Nav/thoro";
    export default {
        components:{
            thoros:thoro
        },

        data() {
            return {}
        },
        methods: {
            async jwtoken() {
                try {
                    const resdata = await this.$axios.get("api/v1");
                    this.$notify({
                        title: resdata.data,
                    })
                } catch (e) {
                    this.$notify({
                        title: e
                    })

                }
            }
        },

    }
</script>

<style scoped>
    .contents {
        width: 90%;
        height: 48rem;
        margin: 1rem auto;

    }

    .contentNav {
        float: left;
        width: 18rem;
        height: 100%;

    }

    .contentNavNav {
        margin-top: 1.2rem;
        height: 27rem;
        width: 100%;
        margin-bottom: 1.5rem;

        box-shadow: #909399 0 0 1rem 1px;
        border-radius: 1rem;

    }

    .contentNavNav button {
        margin: 1rem auto;
        margin-left: 1rem;
    }

    .contentNavThor {
        width: 100%;
        height: 18rem;
        box-shadow: #909399 0 0 1rem 1px;
        border-radius: 1rem;

    }

    .contentMain {
        float: right;
        width: 35rem;
        height: 100%;


    }

    .contentMainTip {
        width: 100%;
        height: 8rem;
        margin-bottom: 1.5rem;

        box-shadow: #909399 0 0 1rem 1px;
        border-radius: 1rem;
    }


</style>
