<template>
    <div class="content">
        <div class="header">
            <h3>水煎包的Todo</h3>
        </div>
        <div class="main">
            <div class="mainCreate">
                <el-card>
                    <el-row :gutter="20">
                        <el-col :span="18">
                            <el-input
                                    v-model="mainCreats.Conten">
                            </el-input>
                        </el-col>
                        <el-col :span="6">
                            <el-button @click="addTaskaaa" type="success">
                                新增待办
                            </el-button>
                        </el-col>
                    </el-row>
                </el-card>


            </div>
            <div class="mainList">
                <el-card>


                    <el-table
                            :data="tasklists"
                            style="width: 100%">
                        <el-table-column
                                label="主要内容"
                                width="300">
                            <template slot-scope="scope">
                                <i class="el-icon-time"></i>
                                <span style="margin-left: 12px">{{ scope.row.Conten }}</span>
                            </template>
                        </el-table-column>
                        <el-table-column
                                label="状态"
                                width="120">
                            <template slot-scope="scope">
                                <el-popover trigger="hover" placement="top">

                                    <div slot="reference" class="name-wrapper">
                                        <el-tag size="medium">{{ scope.row.State }}</el-tag>
                                    </div>

                                    <p>姓名: {{ scope.row.name }}</p>
                                    <p>住址: {{ scope.row.address }}</p>
                                </el-popover>
                            </template>
                        </el-table-column>
                        <el-table-column label="操作">
                            <template slot-scope="scope">
                                <el-button
                                        size="mini"
                                        @click="handleEdit(scope.$index, scope.row)">已办
                                </el-button>
                                <el-button
                                        size="mini"
                                        type="danger"
                                        @click="handleDelete(scope.row)">删除
                                </el-button>
                            </template>
                        </el-table-column>
                    </el-table>


                </el-card>
            </div>
        </div>
        <div class="footer">
            <h5>水煎包出品</h5>
        </div>
    </div>
</template>

<script>
    export default {
        data() {
            return {
                mainCreats: {},
                tasklists: [],
            }
        },
        methods: {
            async handleDelete(row) {
                const path = "v2/recordelete/" + row.ID
                window.console.log(path)
                const res = await this.$axios.delete(path)
                // eslint-disable-next-line no-cond-assign
                window.console.log(res.status)
                this.taskList()
            },
            async addTaskaaa() {
                await this.$axios.post("v2/recordcontent", this.mainCreats)
                // window.console.log(res.data)
                this.$message({
                    "type": "success",
                    "message": "上传成功"
                })
                this.taskList()
            },
            async taskList() {
                const res = await this.$axios.get("v2/recordlist")

                this.tasklists = res.data

            }
        },
        created() {
            this.taskList()
        }

    }
</script>

<style scoped>

    .content {
        width: 100%;
        height: 100vh;
        display: flex;
        flex-direction: column;
    }

    .header {
        height: 3rem;
        width: 100%;
        background-color: #bbbbbb;
        line-height: 3rem;
        padding-left: 2rem;

    }

    .footer {
        background-color: #bbbbbb;
        height: 3rem;
        width: 100%;
        bottom: 0;
    }

    .footer h5 {
        height: 1rem;
        width: 6rem;
        display: block;
        margin: 1rem auto;
    }

    .main {
        flex: 1;
        margin: 0 auto;
        width: 40rem;

        display: flex;
        flex-direction: column;
    }

    .mainCreate {
        margin-top: 2rem;
        flex-direction: row;
        height: 6rem;

    }

    .mainList {

    }


</style>
