<template>
<div>
    <div class="thoroTouXiang">
        <img src="../../../assets/touxiang.png" alt="">
    </div>
</div>
</template>

<script>
    export default {
        name: "thoro"
    }
</script>

<style scoped>
    .thoroTouXiang img {
        width: 40%;
        margin-top: 2rem;
        margin-left: 50%;
        transform: translateX(-50%);
        border-radius: 50%;
        box-shadow: #d1dbe5 0 0 5rem 1rem;

    }

</style>
