<template>
    <div id="app">
       <router-view/>
    </div>
</template>

<style>
    #app {
        font-family: '微软雅黑', Helvetica, Arial, sans-serif;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        color: #2c3e50;
    }
    *{
        padding: 0;
        box-sizing: border-box;
        margin: 0;

    }
</style>
